body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

video {
  width: 90%;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255,255,255,0.2);
}
