body {
  margin: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

video {
  width: 90%;
  max-width: 800px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(255,255,255,0.2);
}

body {
  margin: 0;
  background-color: black;
  color: white;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.gallery img {
  width: 90%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 12px;
}
